
/*HEADER SECTION*/
.header {
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

.header h1 {
    font-size: 40px;
}

.header nav ul li a {

}

/*ABOUT ME SECTION*/
.intro {

}

.intro h2 {

}

.intro p {

}

/*MY WORK SECTION*/
.work {

}

 .work h2 {

}

.work h3 {

}

 /*CONTACT ME SECTION*/
.contact {

}