*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-weight: lighter;
}

html,body {
    overflow-x: hidden;
}

body {
    background-color: rgb(234, 221, 225);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER SECTION*/
.header {
    background-color: rgb(243, 234, 244);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 30px;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 25px;
}

.header nav ul li {
    padding: 0 20px;
}

.header nav ul li a{
    color: rgb(188, 163, 172);
}

/*HERO*/

.hero {
    background-image: url('./1200px-Very_Black_screen.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 200px 0;
}

.hero-welcome {
    border: rgb(234, 221, 225) solid 1px;
    padding: 20px;
}

.hero-welcome h1 {
    font-size: 70px;
    color: whitesmoke;
    margin: 20px 10px;
}

.hero-welcome p {
    color: whitesmoke;
    text-align: center;
    padding: 10px 0;
}

/*ABOUT ME*/
.intro {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(229, 206, 220);
    text-align: center;
    border-bottom: gray solid 3px;
    border-top: gray solid 3px;
}

.intro h2 {
    font-size: 50px;
    color: black;
}

.intro p {
    padding: 80px 80px;
    color: black;
    font-size: 18px;
}

/*MY WORK*/
.work {
    padding: 150px 0;
    background-color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work h2 {
    font-size: 80px;
    color: white;
    padding: 50px 0;
    margin-bottom: 80px;
    border: rgb(234, 221, 225) solid 1px;
    padding: 20px;
}


/*PROJECTS*/

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 100px;
    margin: 50px 0;
}

.project-info {
    margin: 20px;
}

.projects h3 {
    color: whitesmoke;
    font-size: 50px;
    padding: 50px;
}

.projects h4 {
    text-align: center;
    color: rgb(229, 206, 220);
    font-size: 20px;
    padding: 40px;
}

.projects img {
    width: 50%;
    height: 300px;
    opacity: 0.5;
    border-radius: 15px;
}

#project-one-img {
    width: 70%;
    height: 400px;
    opacity: 0.7;
    border-radius: 15px;
}

/*CONTACT ME*/
.contact {
    margin: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact h2 {
    font-size: 40px;
    color: black;
}

.contact img {
    border-radius: 100px;
}

.contact-info {
    color: black;
}

/*UTILITIES*/



/*MEDIA QUERIES*/

@media screen and (max-width: 980px) {
    /*HEADER*/
    .header {
        width: 100%;
    }

    .header nav ul li {
        font-size: 13px;
    }


    /*HEADER*/
    .hero-welcome {
        padding: 12px 5px;
        margin: 20px 0;
    }

    .hero-welcome h1 {
        font-size: 20px;
        text-align: center;
    }

    .hero-welcome p {
        font-size: 12px;
    }

    /*ABOUT ME*/
    .intro h2 {
        font-size: 18px;
    }

    .intro p {
        font-size: 12px;
    }

    /*MY WORK*/

    .work h2 {
        font-size: 18px;
    }

    /*PROJECTS*/

    .project-info {
        width: 80%;
        padding: 0;
    }

    .projects h3 {
        font-size: 15px;
    }

    .projects h4 {
        font-size: 12px;
        padding: 30px 0;
    }

    #project-one-img {
        height: 180px;
        width: 100%;
    }

    .projects img {
        height: 150px;
        width: 90%;
    }

    /*CONTACT*/
    .contact h2 {
        font-size: 18px;
        padding: 0 0 15px 0;
    }

    .contact h3 {
        font-size: 12px;
        padding: 10px 10px;
    }

    .contact p {
        font-size: 12px;
        padding: 10px 10px;
    }

    .contact address {
        font-size: 12px;
        padding: 10px 10px;
    }

    .contact img {
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    
    /*HEADER*/
    .header {
        width: 100%;
    }
  
    .header nav ul li {
        font-size: 13px;
    }
  

    /*HERO*/
    .hero-welcome {
        padding: 12px 5px;
        margin: 20px 0;
    }

    .hero-welcome h1 {
        font-size: 20px;
        text-align: center;
    }
  
    .hero-welcome p {
        font-size: 12px;
    }

    /*ABOUT ME*/
    .intro h2 {
        font-size: 18px;
    }

    .intro p {
        font-size: 12px;
    }

    /*MY WORK*/

    .work h2 {
        font-size: 18px;
    }

    /*PROJECTS*/

    .project-info {
        width: 80%;
        padding: 0;
    }

    .projects h3 {
        font-size: 15px;
    }

    .projects h4 {
        font-size: 12px;
        padding: 30px 0;
    }

    #project-one-img {
        height: 180px;
        width: 100%;
    }

    .projects img {
        height: 150px;
        width: 90%;
    }

    /*CONTACT*/
    .contact h2 {
       font-size: 18px;
       padding: 0 0 15px 0;
   }

   .contact h3 {
       font-size: 12px;
       padding: 10px 10px;
   }

   .contact p {
       font-size: 12px;
       padding: 10px 10px;
   }

   .contact address {
       font-size: 12px;
       padding: 10px 10px;
   }

   .contact img {
       height: 100px;
   }
}

@media screen and (max-width: 575px) {
    
    /*HEADER*/
    .header {
        width: 100%;
        padding: 12px 10px;
    }

    .header nav ul li {
        font-size: 11px;
    }


    /*HEADER*/
    .hero-welcome {
        padding: 10px 5px;
        margin: 0 30px;
    }

    .hero-welcome h1 {
        font-size: 18px;
        text-align: center;
    }

    .hero-welcome p {
        font-size: 12px;
        flex-wrap: wrap;
    }

    /*ABOUT ME*/
    .intro h2 {
        font-size: 18px;
    }

    .intro p {
        font-size: 12px;
    }

    /*MY WORK*/

    .work h2 {
        font-size: 18px;
    }

    /*PROJECTS*/

    .project-info {
        width: 80%;
        padding: 0;
    }

    .projects h3 {
        font-size: 15px;
    }

    .projects h4 {
        font-size: 12px;
        padding: 30px 0;
    }

    #project-one-img {
        height: 150px;
        width: 100%;
    }

    .projects img {
        height: 120px;
        width: 90%;
    }

    /*CONTACT*/
    .contact h2 {
        font-size: 18px;
        padding: 0 0 15px 0;
    }

    .contact h3 {
        font-size: 12px;
        padding: 10px 10px;
    }

    .contact p {
        font-size: 12px;
        padding: 10px 10px;
    }

    .contact address {
        font-size: 12px;
        padding: 10px 10px;
    }

    .contact img {
        height: 100px;
    }
}